<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrzemyslawSzafranskiZaddom2.Properties.Settings.PrzemyslawSzafranskiSQLZaddom2Connection"
            connectionString="Data Source=DESKTOP-JKC4Q96\SQLEXPRESS;Initial Catalog=PrzemyslawSzafranskiSQLZaddom2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>